html {
  background-color: black;
  font-family: Verdana, sans-serif;
  text-align: center;
}

h1 {
  color: White;
}

a {
  color: Aquamarine;
}

p {
  color: Gray;
}

h2 {
  color: Gray;
  text-align: right;
}
